name: "Build and populate cache"
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  tests:
    strategy:
      matrix:
        nixPath:
          - nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz
          - nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-25.05.tar.gz
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: "${{ matrix.nixPath }}"
    - uses: cachix/cachix-action@v16
      with:
        name: ev357
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build
